@font-face {
    font-family: 'kanit';
    src: url(/ChallengeBC/C.P.Company/assets-metropolis/fonts/kanit-bold.woff2) format('woff2');
    font-family: 'kanit2';
    src: url(/ChallengeBC/C.P.Company/assets-metropolis/fonts/kanit-bold.woff) format('woff');
}
body {
    background-color: black;
    color: white;
    font-family: 'kanit', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 1rem;
}
.logo{
    color: aqua;
}